$badge-border-radius: 10rem !default;
$badge-font-size: 0.625rem !default; // 10px
$badge-font-weight: $font-weight-semi-bold !default;
$badge-line-height: 1.1 !default;
$badge-padding-x: 0.25rem !default; // 4px
$badge-padding-y: 0.09375rem !default; // 1.5px

$badge-item-spacer-x: 0.85714em !default;

$badge-pill-border-radius: $border-radius !default;
$badge-pill-padding-x: 0.25rem !default; // 4px

// Badge Variants

$badge-default-color: $white !default;
$badge-default-bg: $default !default;
$badge-default-hover-bg: $badge-default-bg !default;
$badge-default-hover-color: $badge-default-color !default;

$badge-primary-color: $white !default;
$badge-primary-bg: $primary !default;
$badge-primary-hover-bg: $badge-primary-bg !default;
$badge-primary-hover-color: $badge-primary-color !default;

$badge-secondary-color: $primary !default;
$badge-secondary-bg: lighten(desaturate(adjust-hue($secondary, -208), 7.30), 48.04) !default;
$badge-secondary-hover-bg: $badge-secondary-bg !default;
$badge-secondary-hover-color: $badge-secondary-color !default;
$badge-secondary-link-color: $badge-secondary-color !default;

$badge-success-color: $white !default;
$badge-success-bg: $success !default;
$badge-success-hover-bg: $badge-success-bg !default;
$badge-success-hover-color: $badge-success-color !default;

$badge-info-color: $white !default;
$badge-info-bg: $info !default;
$badge-info-hover-bg: $badge-info-bg !default;
$badge-info-hover-color: $badge-info-color !default;

$badge-warning-color: $white !default;
$badge-warning-bg: $warning !default;
$badge-warning-hover-bg: $badge-warning-bg !default;
$badge-warning-hover-color: $badge-warning-color !default;

$badge-danger-color: $white !default;
$badge-danger-bg: $danger !default;
$badge-danger-hover-bg: $badge-danger-bg !default;
$badge-danger-hover-color: $badge-danger-color !default;

$badge-light-color: $dark !default;
$badge-light-bg: $light !default;
$badge-light-hover-bg: $badge-light-bg !default;
$badge-light-hover-color: $badge-light-color !default;
$badge-light-link-color: $badge-light-color !default;

$badge-dark-color: $white !default;
$badge-dark-bg: $dark !default;
$badge-dark-hover-bg: $badge-dark-bg !default;
$badge-dark-hover-color: $badge-dark-color !default;

$badge-insights-color: $primary !default;
$badge-insights-bg: $insights !default;
$badge-insights-hover-bg: $badge-insights-bg !default;
$badge-insights-hover-color: $badge-insights-color !default;

$badge-fesr-color: $white !default;
$badge-fesr-bg: $fesr !default;
$badge-fesr-hover-bg: $badge-fesr-bg !default;
$badge-fesr-hover-color: $badge-fesr-color !default;

$badge-fse-color: $white !default;
$badge-fse-bg: $fse !default;
$badge-fse-hover-bg: $badge-fse-bg !default;
$badge-fse-hover-color: $badge-fse-color !default;

$badge-asse-color: $white !default;
$badge-asse-bg: $asse !default;
$badge-asse-hover-bg: $badge-asse-bg !default;
$badge-asse-hover-color: $badge-asse-color !default;

$badge-azione-color: $white !default;
$badge-azione-bg: $azione !default;
$badge-azione-hover-bg: $badge-azione-bg !default;
$badge-azione-hover-color: $badge-azione-color !default;

$badge-evento-color: $white !default;
$badge-evento-bg: $evento !default;
$badge-evento-hover-bg: $badge-evento-bg !default;
$badge-evento-hover-color: $badge-evento-color !default;

$badge-opportunita-color: $white !default;
$badge-opportunita-bg: $opportunita !default;
$badge-opportunita-hover-bg: $badge-opportunita-bg !default;
$badge-opportunita-hover-color: $badge-opportunita-color !default;

$badge-aperto-color: $white !default;
$badge-aperto-bg: $aperto !default;
$badge-aperto-hover-bg: $badge-aperto-bg !default;
$badge-aperto-hover-color: $badge-aperto-color !default;

$badge-graduatoria-color: $white !default;
$badge-graduatoria-bg: $graduatoria !default;
$badge-graduatoria-hover-bg: $badge-graduatoria-bg !default;
$badge-graduatoria-hover-color: $badge-graduatoria-color !default;

$badge-proroga-color: $white !default;
$badge-proroga-bg: $proroga !default;
$badge-proroga-hover-bg: $badge-proroga-bg !default;
$badge-proroga-hover-color: $badge-proroga-color !default;

$badge-riapertura-termini-color: $white !default;
$badge-riapertura-termini-bg: $riapertura-termini !default;
$badge-riapertura-termini-hover-bg: $badge-riapertura-termini-bg !default;
$badge-riapertura-termini-hover-color: $badge-riapertura-termini-color !default;

$badge-approfondimento-color: $white !default;
$badge-approfondimento-bg: $approfondimento !default;
$badge-approfondimento-hover-bg: $badge-approfondimento-bg !default;
$badge-approfondimento-hover-color: $badge-approfondimento-color !default;

$badge-rettifica-color: $white !default;
$badge-rettifica-bg: $rettifica !default;
$badge-rettifica-hover-bg: $badge-rettifica-bg !default;
$badge-rettifica-hover-color: $badge-rettifica-color !default;

$badge-a-scadenza-color: $white !default;
$badge-a-scadenza-bg: $a-scadenza !default;
$badge-a-scadenza-hover-bg: $badge-a-scadenza-bg !default;
$badge-a-scadenza-hover-color: $badge-a-scadenza-color !default;

$badge-a-sportello-color: $white !default;
$badge-a-sportello-bg: $a-sportello !default;
$badge-a-sportello-hover-bg: $badge-a-sportello-bg !default;
$badge-a-sportello-hover-color: $badge-a-sportello-color !default;

$badge-chiuso-color: $white !default;
$badge-chiuso-bg: $chiuso !default;
$badge-chiuso-hover-bg: $badge-chiuso-bg !default;
$badge-chiuso-hover-color: $badge-chiuso-color !default;