/* ---------- Column widths ---------- */

.portlet-column-content.empty {
	padding: 0;
}

/* ---------- Wrapper ---------- */

#wrapper {
	padding-bottom: $wrapper-padding-bottom;
	padding-top: $wrapper-padding-top;
	position: relative;
}