<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:v="urn:schemas-microsoft-com:vml"
      xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
    <!--[if gte mso 9]>
    <xml>
        <o:OfficeDocumentSettings>
            <o:AllowPNG/>
            <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
    </xml><![endif]-->
    <!-- fix outlook zooming on 120 DPI windows devices -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- So that mobile will display zoomed in -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- enable media queries for windows phone 8 -->
    <meta name="format-detection" content="date=no"> <!-- disable auto date linking in iOS 7-9 -->
    <meta name="format-detection" content="telephone=no"> <!-- disable auto telephone linking in iOS 7-9 -->
    <title>Email Sample</title>

    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
        }

        a:link {
            color: #2469A0;
        }
        a:visited {
            color: #2469A0;
        }
        a:hover {
            color: #2469A0;
        }

        a {
            text-underline: none;
            text-decoration:none;
        }

        table {
            border-spacing: 0;
        }

        table td {
            border-collapse: collapse;
        }

        .ExternalClass {
            width: 100%;
        }

        .ExternalClass,
        .ExternalClass p,
        .ExternalClass span,
        .ExternalClass font,
        .ExternalClass td,
        .ExternalClass div {
            line-height: 100%;
        }

        .ReadMsgBody {
            width: 100%;
            background-color: #ebebeb;
        }

        table {
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
        }

        img {
            -ms-interpolation-mode: bicubic;
        }

        .yshortcuts a {
            border-bottom: none !important;
        }

        @media screen and (max-width: 599px) {
            .force-row,
            .container {
                width: 100% !important;
                max-width: 100% !important;
            }
        }

        @media screen and (max-width: 400px) {
            .container-padding {
                padding-left: 12px !important;
                padding-right: 12px !important;
            }
        }

        .ios-footer a {
            color: #aaaaaa !important;
            text-decoration: underline;
        }

        @media screen and (max-width: 599px) {
            .col {
                width: 100% !important;
                border-top: 1px solid #eee;
                padding-bottom: 0 !important;
            }

            .cols-wrapper {
                padding-top: 18px;
            }

            .img-wrapper {
                float: right;
                max-width: 40% !important;
                height: auto !important;
                margin-left: 12px;
            }

            .subtitle {
                margin-top: 0 !important;
            }
        }

        @media screen and (max-width: 400px) {
            .cols-wrapper {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }

            .content-wrapper {
                padding-left: 12px !important;
                padding-right: 12px !important;
            }
        }

        a[href^="x-apple-data-detectors:"],
        a[x-apple-data-detectors] {
            color: inherit !important;
            text-decoration: none !important;
            font-size: inherit !important;
            font-family: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
        }
    </style>
</head>

<body style="margin:0; padding:0;" bgcolor="#F0F0F0" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<!-- 100% background wrapper (grey background) -->
<table border="0" width="100%" height="100%" cellpadding="0" cellspacing="0" bgcolor="#F0F0F0">
    <tr>
        <td align="center" valign="top" bgcolor="#F0F0F0" style="background-color: #F0F0F0;">

            <br>

            <!-- 600px container (white background) -->
            <table border="0" width="600" cellpadding="0" cellspacing="0" class="container"
                   style="width:600px;max-width:600px">
                <tr>
                    <td class="container-padding header" align="center"
                        style="background-color:#0b6f39;font-family:Helvetica, Arial, sans-serif;font-size:24px;font-weight:bold;padding-bottom:12px;color:#197f18;padding-left:24px;padding-right:24px">
                        <img src="http://www.regione.puglia.it/rp2013-theme/images/regione-puglia.png" height=""
                             width="">
                    </td>
                </tr>
                <tr>
                    <td class="content" align="left"
                        style="padding-top:12px;padding-bottom:12px;background-color:#ffffff">

                        <table width="600" border="0" cellpadding="0" cellspacing="0" class="force-row"
                               style="width: 600px;">
                            <tr>
                                <td class="content-wrapper" style="padding-left:24px;padding-right:24px">
                                    <br>
                                    <div class="title"
                                         style="font-family:Helvetica, Arial, sans-serif;font-size:18px;font-weight:600;color:#374550">
                                        Newsletter - ${newsletterName}</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="cols-wrapper" style="padding-left:12px;padding-right:12px">

                                    <#list blogItems as blogEntry>

                                        <!--[if mso]>
                                        <table border="0" width="576" cellpadding="0" cellspacing="0"
                                               style="width: 576px;">
                                            <tr>
                                                <td width="192" style="width: 192px;" valign="top"><![endif]-->


                                        <table width="192" border="0" cellpadding="0" cellspacing="0" align="left"
                                               class="force-row" style="width: 192px;">
                                            <tr>
                                                <td class="col" valign="top"
                                                    style="padding-left:12px;padding-right:12px;padding-top:18px;padding-bottom:12px">
                                                    <table border="0" cellpadding="0" cellspacing="0" class="img-wrapper">
                                                        <tr>
                                                            <td style="padding-bottom:18px"><img
                                                                        src="${blogEntry["img"]}"
                                                                        border="0" alt="${blogEntry["img"]}" width="168"
                                                                        height="110" hspace="0" vspace="0"
                                                                        style="max-width:100%; " class="image"></td>
                                                        </tr>
                                                    </table>
                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td class="subtitle"
                                                                style="font-family:Helvetica, Arial, sans-serif;font-size:16px;line-height:22px;font-weight:600;color:#2469A0;padding-bottom:6px">
                                                                <a href="${blogEntry["url"]}">${blogEntry["title"]}</a>

                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <div class="col-copy"
                                                         style="font-family:Helvetica, Arial, sans-serif;font-size:13px;line-height:20px;text-align:left;color:#333333">
                                                        ${blogEntry["content"]}
                                                    </div>
                                                    <br>
                                                </td>
                                            </tr>
                                        </table>


                                        <!--[if mso]></td>
                                        <td width="192" style="width: 192px;" valign="top"><![endif]-->

                                    </#list>

                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>
                <tr>
                    <td class="container-padding footer-text" align="left"
                        style="font-family:Helvetica, Arial, sans-serif;font-size:12px;line-height:16px;color:#aaaaaa;padding-left:24px;padding-right:24px">
                        <br><br>

                        REGIONE PUGLIA

                        <br><br>

                        <br><br>

                        <strong>REGIONE PUGLIA</strong><br>
                        <span class="ios-footer">OPR</span>
                        <a href="http://www.google.com" style="color:#aaaaaa">www.google.it</a><br>

                        <br><br>

                    </td>
                </tr>
            </table>
            <!--/600px container -->


        </td>
    </tr>
</table>
<!--/100% background wrapper-->

</body>
</html>
