.bando {
	.titolo {
		color: $info;
	}
	
	.panel {
		.panel-title {
			font-family: "Titillium Web Bold", sans-serif;
			font-size: 1.125rem;
			color: $info;
		}
		
		.titolo-sezione {
			 color: $info;
			 font-family: "Titillium Web Bold", sans-serif;
		 }
		
		.panel-header {
			border-radius: 0;
			
			.collapse-icon-closed,
			.collapse-icon-open {
				font-size: inherit;
				top: 20%;

				.icon-angle-down,
				.icon-angle-up {
					color: $info;
				}
			}
		}

		.panel-body {
			
			.quando-partecipare,
			.come-partecipare {
				background-color: $bg-grey;

				.data {
					font-family: "Titillium Web Bold", sans-serif;
					color: $default;
				}

				a.partecipa {
					width: 191px;
					height: 35px;
					border-radius: 2px;
					box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16);
					font-family: 'Titillium Web Regular', sans-serif;
				}
			}

			.risorse-disponibili {
				font-family: "Titillium Web SemiBold", sans-serif;
				color: $info;
				padding: .75rem 2.5rem;
				margin: 0;
			}

			.come-partecipare {
				.documenti {
					a {
						color: $link-sm-color;
						font-size: 0.875rem;
					}
				} 
			}

			.domande-frequenti {
				.domanda {
					font-family: "Titillium Web Bold", sans-serif;
					margin-bottom: 0;
				}
			} 
		} 
	}

	.bando-maggiori-informazioni {
		.immagine {
			width: 100%;
			max-height: 180px;
			object-fit: cover;
		}

		 .box-informazioni {
			 background-color: #f9f9f9;

			 p {
				 margin-bottom: 0;
			 }
		 }

		 .doc-type {
			 padding: .7rem;
		 }
	}
}