.breadcrumb {
	margin-bottom: 0;

	&.breadcrumb-horizontal {
		font-size: 0.75rem;
		padding: 0;
		border-radius: 0;

		> li {
			+ li::before {
				color: #2e2e2e;
				content: "\003e";
				padding-left: 0.2rem;
				padding-right: 0.2rem;
			}

			&.active,
			a {
				color: #2e2e2e;

				&:hover {
					color: #2e2e2e;
				}

			}
		}
	}
}