.card {
	border: 0;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	border-radius: 0;

	.card-item-first {
		border-radius: 0;

		.sticker-bottom-left.badge.categoria {
			font-size: 0.875rem;
			font-weight: bold;
			color: $white;

			.badge-item {
				text-shadow: 0 3px 6px $default;
			}
		}
	}

	.aspect-ratio {
		padding-bottom: 38.2%;
	}

	.card-body {
		background-color: $white;

		.card-row {
			min-height: 7.65rem;
			align-items: stretch !important;

			.card-title {
				color: $black;
				font-size: 0.875rem;
				font-weight: normal;
			}

			.card-subtitle {
				color: $black;
				height: 4.5rem;
				overflow: hidden;
				font-size: 1rem;
			}

			.metadata {
				.modalita {
					font-weight: bold;
				}
			}
		}

		/*@include media-breakpoint-down(sm) {
			.card-row {
				min-height: 6.5rem;
			}
		}*/

		.card-detail {
			h3.mb-0{
				height: 46px;
				line-height: 22px;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box !important;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				text-align: inherit !important;
			}

			a {
				color: $black;
				text-decoration: none;
				font-size: 1rem;
			}
		}

		.maggiori-dettagli {
			a {
				color: $info;
				font-size: .75rem;
				font-weight: bold;
				text-decoration: underline;
				text-transform: uppercase;
				letter-spacing: 1px;

				&:after {
					content: "\2192";
				}
			}
		}
	}

	.card-badge {
		border-bottom-right-radius: 0;
		border-top-right-radius: 0;

		&.bottom-right {
			top: auto;
			left: auto;
			bottom: 8.3rem;
			right: -1px;
			position: absolute;
		}
	}
}