.form-module {
	padding-left: 100px;
	padding-right: 100px;

	.portlet-forms {
		background-color: $bg-grey;
		border-top: 3px solid $default;
		padding-left: 100px;
		padding-right: 100px;

		.ddm-form-basic-info {
			.ddm-form-name {
				color: $info !important;
			}
		}
		
		.ddm-form-builder-app .lfr-ddm-form-page {
			& > .row {
				margin: 0 !important;
		
				[class^="col"] {
					padding: 0 !important;
		
					label {
						color: $info;
					}
					.custom-control {
						.custom-control-label-text {
							font-weight: normal;
							color: $black;
						}
					}
				}
			}
		}
	}
}

.atterraggio-form {
	padding-left: 100px;
	padding-right: 100px;

	.atterraggio-form-inner {
		background-color: $bg-grey;
		border-top: 3px solid $default;
		padding-left: 100px;
		padding-right: 100px;
	}
}