.galleria-bandi {
	.adt-title {
		font-weight: 600;
		color: $info;
		margin: 1rem 0 2rem 0;
	}

	.immagine {
		position: relative;
		overflow: hidden;
		padding-bottom: 50%;

		@media (max-width: 768px) {
			padding-bottom: 100%;
		}

		.img {
			width: 100%	;
			padding-bottom: 50%;
			position: absolute;

			@media (max-width: 768px) {
				padding-bottom: 100%;
			}
		}

	}

	.badge.badge-por {
		position: absolute;
		border-bottom-right-radius: 0;
		border-top-right-radius: 0;

		&.top-right {
			top: 1rem;
			right: -1px;
			bottom: auto;
			left: auto;
		}
	}

	.titolo {
		a {
			font-weight: 600;
			color: $black;
		}
	}

	.cards-group-carousel {
		.slick-initialized .slick-slide {
			margin: 0 10px;
		}
	}
}