.hero-image {
	.image-container {
		padding: 5rem 5rem 1.375rem 5rem ;
		max-height: 384px;
		height: 384px;
	}

	.content {
		color: $white;
		font-size: 1.875rem;
	}

	.notes {
		color: $white;
		font-size: 1rem;
	}

	@include media-breakpoint-down(sm) {
		.image-container {
			padding: 1.75rem 1.75rem 1.4rem 1.75rem;
			max-height: 470px;
			height: 470px;
		}
	}
}