.home-category {
	background-color: #F5F5F5;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

	.adt-title {
		color: $info;
		border-bottom: 1px solid $default;
		margin-bottom: 0;
		padding-bottom: .5rem;
	}

	.list-element {
		padding-left: 0;

		.tema {
			border-bottom: 1px solid $default;

			.name {
				font-family: "Titillium Web SemiBold", sans-serif;
				color: $default;
			}
		}
	}
}