.image-hero {
	@include media-breakpoint-down(md) {
		img {
			width: 100%;
			max-height: 250px;
			object-fit: cover;
		}
	}

	@include media-breakpoint-up(md) {
		img {
			width: 100%;
			height: 250px;
			object-fit: cover;
		}
	}
}
