.lista-azioni {
	.adt-title {
		font-family: "Titillium Web Bold", sans-serif;
		color: $info;
	}

	.azione {
		font-family: 'Titillium Web Regular', sans-serif;
		font-size: 1rem;
		font-weight: normal;
		line-height: 1.5;
		color: $default;
		margin-bottom: 0.75rem;
	}
}