.navbar-classic {
	background: $white;

	.navigation-menu {
		.child-menu.dropdown-menu {
			top: calc(100% + 0.3rem);
			min-width: 350px;
			border: 1px solid rgba(158, 158, 158, 0.5);
			box-shadow: none;
		}

		.child-menu.list-unstyled a {
			color: $default;
			text-decoration: none;
		}

	}

	&.navbar-light {
		border-bottom: 1px solid $light-color;
	}

	.navbar-blank {
		@include media-query(null, $screen-xs-max) {
			margin-top: 2rem;
		}
	}

	.navbar-form {
		padding: 0;

		.field-wrapper {
			right: 0;
			top: 0;

			.lfr-icon-item {
				color: #6B6C7E;
			}
		}
	}

	.portlet-search-bar {
		@include media-breakpoint-down(sm) {
			width: 100%;
		}
	}

	.logo:hover {
		text-decoration: none;
	}

	.navbar-nav {
		padding: 0 3rem;
		justify-content: flex-start;
		flex-wrap: wrap;
		align-items: center;
		box-shadow: 0 15px 20px -20px $black;

		.nav-item {
			border-bottom: 4px solid transparent;
			margin: 0 1.5rem 0 0;

			&.hover.open,
			&.active {
				border-bottom: 4px solid $info;
			}

			.nav-link,
			&.show .nav-link {
				background-color: transparent;
				border: none;
				color: $default;
				font-size: 1rem;
				font-family: "Titillium Web SemiBold", sans-serif;
			}

			.child-menu.panel {

				.panel-header {
					a.dropdown-item {
						max-width: 90%;
					}
				}

				.btn-link:focus {
					box-shadow: none;
				}
			}

			/*&:not(:last-of-type) {
				.nav-link {
					@include lg {
						margin-right: 16px;
					}
				}
			}

			&:last-of-type {
				margin-left: auto;
			}*/
		}

	}

	.nav-link {
		color: $info;
		font-size: 0.8125rem;
		font-family: "Titillium Web SemiBold", sans-serif;
	}

	.por-language-selector {
		.nav-link {
			.navbar-text-truncate,
			.lexicon-icon-angle-down {
				color: $white;
				font-family: 'Titillium Web Light', sans-serif;
			}
		}

		.dropdown-menu {
			min-width: auto;
			border-radius: 0;
		}
	}

	.utility {
		color: $white;
		background: $info;
		height: 30px;

		.languages {
			height: inherit;

			#portlet_com_liferay_site_navigation_language_web_portlet_SiteNavigationLanguagePortlet {
				margin-bottom: 0;
			}
		}
	}

	.badges {
		white-space: nowrap;
		background: white;
		box-shadow: 0 0 5px 0 rgba(46, 46, 46, 0.5);
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		height: 60px;
	}

	@include media-breakpoint-down(sm) {
		.header-search-form {
			.input-group-item {
				margin-left: 0;

				.input-group-inset-after.form-control.search-bar-keywords-input {
					border-bottom-right-radius: 0.25rem;
					border-top-right-radius: 0.25rem;
					border-right-width: 0.0625rem;
				}
			}
		}

		.search-bar-search-button-wrapper {
			display: none;
		}
	}
}