.ricerca-bandi {
	background-color: #f9f9f9;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

	p.testo,
	label {
		color: $default;
		font-family: "Titillium Web Bold", sans-serif;
		font-size: 18px;
	}
}