.stato-di-attuazione {
	.titolo {
		color: $stato-di-attuazione-text;
	}

	.finanziamenti-erogati,
	.progetti-finanziati,
	.ettari {

		.dato {
			font-family: "Titillium Web Bold", sans-serif;
			font-size: 2.5rem;
			color: $stato-di-attuazione-text;
		}

		.testo {
			 font-family: "Titillium Web SemiBold", sans-serif;
			 font-size: 1.125rem;
			 color: $stato-di-attuazione-text;
		 }
	}

}

.stato-di-attuazione-bg {
	background-color: $stato-di-attuazione-bg;
}