.btn {
	font-weight: normal;
}

.btn-por-default {
	color: $white;
	background-color: $default;
	border-color: $default;
	box-shadow: none;
}

.btn-por-primary {
	color: $primary;
	background-color: $white;
	border-color: $primary;
	box-shadow: none;
}

.btn-por-success {
	color: $white;
	background-color: $success;
	border-color: $success;
	box-shadow: none;
}

.btn-por-info {
	color: $white;
	background-color: $info;
	border-color: $info;
	box-shadow: none;
}

.btn-por-warning {
	color: $white;
	background-color: $warning;
	border-color: $warning;
	box-shadow: none;
}

.btn-por-danger {
	color: $white;
	background-color: $danger;
	border-color: $danger;
	box-shadow: none;
}

.btn-por-link {
	color: $link-color;
	background-color: transparent;
	border-color: transparent;
	box-shadow: none;

	@include hover {
		background-color: transparent;
		border-color: transparent;
		color: $link-hover-color;
		text-decoration: $link-hover-decoration;
	}

	&:focus, &.focus {
		border-color: transparent;
		box-shadow: $btn-focus-box-shadow;
		text-decoration: $link-decoration;
	}

	&:disabled, &.disabled {
		color: $btn-link-disabled-color;
	}

	&:active, &.active, &:not([disabled]):not(.disabled):active {
		background-color: transparent;
		border-color: transparent;
		box-shadow: none;
		color: $link-color;
	}

	&.btn-sm {
		color: $link-sm-color;

		@include hover {
			color: $link-sm-hover-color;
		}

		&:active, &.active, &:not([disabled]):not(.disabled):active {
			color: $link-sm-color;
		}
	}
}

.btn-por-primary {
	&:disabled, &.disabled {
		opacity: .65;
	}

	&:hover,
	&:focus, .focus{
		color: $primary;
	}
}

.btn-por-default,
.btn-por-success,
.btn-por-info,
.btn-por-warning,
.btn-por-danger {
	&:disabled, &.disabled {
		opacity: .65;
	}

	&:hover,
	&:focus, .focus{
		color: $white;
	}
}