#footer {
	background-color: $primary;
	color: $white;
	font-size: 0.875rem;

	> .container-fluid {
		padding-bottom: 1rem;
		padding-top: 1rem;
	}

	hr {
		border-top: 1px solid $white;
	}

	.valuta-il-sito {
		background: $default;

		a {
			color: $white;
		}
	}

	.social {
		.icon-facebook::before,
		.icon-twitter::before,
		.icon-linkedin::before,
		.icon-youtube-play::before {
			color: $primary;
		}
	}

	.contatti,
	.link-utili {

		.section-title {
			font-family: "Titillium Web SemiBold", sans-serif;
		}

		ul {
			list-style-type: none;
		}

		p {
			margin-bottom: 0;
		}

		a {
			color: $white;
		}
	}

	.newsletter {
		.custom-control-label-text {
			color: $white;
			font-weight: normal;
		}
	}

	.legals {
		ul {
			list-style-type: none;

			a {
				color: $white;
			}
		}
	}

	@include media-breakpoint-down(sm) {
		font-size: 0.75rem;

		.contatti,
		.link-utili,
		.valuta-il-sito {

			.section-title {
				font-size: 0.875rem;
			}
		}

		.link-utili {
			a {
				text-decoration: underline;
			}
		}

		.legals {
			a {
				font-size: 0.875rem;
			}
		}
	}

}