.custom-radio {
	.custom-control-input:checked ~ .custom-control-label {
		&::before {
			background-color: $white;
			border-color: $primary;
		}
		&::after {
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%230C2149'/%3E%3C/svg%3E");
			background-size: 80%;
		}
	}
	.custom-control-label::before {
		border-color: $primary;
	}
}