.main-navigation-mobile {
	z-index: 990;

	.sidebar-header {
		.button-close-menu-mobile {
			background: transparent;
			border: none;

			.lexicon-icon.lexicon-icon-times {
				height: 1.625rem;
				width: 1.625rem;
				color: $info;
			}
		}

		h6.close-text {
			font-size: 0.75rem;
		}
	}

	.sidebar-body {
		.root-level {
			.nav-link {
				font-size: 1.125rem;
				border-left: 2px solid transparent;

				&.active {
					border-color: $info;
				}
			}
		}

		.child-level {
			.nav-link {
				font-family: 'Titillium Web Regular', sans-serif;
				font-size: 0.8125rem;
			}
		}
	}
}