$badge-border-color: transparent !default;
$badge-border-style: solid !default;
$badge-border-width: 1px !default;
$badge-line-height: null !default;

$badge-spacer-x: 0.25rem !default; // 4px
$badge-spacer-y: 0.125rem !default; // 2px

$badge-lexicon-icon-height: 0.875em !default;
$badge-lexicon-icon-margin-top: 0 !default;
$badge-lexicon-icon-width: 0.875em !default;

$badge-item-expand-min-width: 0.375rem !default;
$badge-item-spacer-x: 0.5em !default;

$badge-link-color: #FFF !default;
$badge-link-hover-color: null !default;
$badge-link-text-decoration: underline !default;
$badge-link-hover-text-decoration: none !default;

$badge-close: () !default;
$badge-close: map-merge((
	color: inherit,
	opacity: 1,
	hover-color: inherit,
	hover-opacity: 1,
	focus-opacity: 1,
	border-radius: 1px,
	display: inline-flex,
	font-size: inherit,
	height: auto,
	width: auto
), $badge-close);

// Badge Variants

$badge-default-bg: null !default;
$badge-default-hover-bg: null !default;
$badge-default-border-color: null !default;
$badge-default-hover-border-color: null !default;
$badge-default-color: null !default;
$badge-default-hover-color: null !default;
$badge-default-link-color: null !default;
$badge-default-link-hover-color: null !default;

$badge-primary-bg: null !default;
$badge-primary-hover-bg: null !default;
$badge-primary-border-color: null !default;
$badge-primary-hover-border-color: null !default;
$badge-primary-color: null !default;
$badge-primary-hover-color: null !default;
$badge-primary-link-color: null !default;
$badge-primary-link-hover-color: null !default;

$badge-secondary-bg: null !default;
$badge-secondary-hover-bg: null !default;
$badge-secondary-border-color: null !default;
$badge-secondary-hover-border-color: null !default;
$badge-secondary-color: null !default;
$badge-secondary-hover-color: null !default;
$badge-secondary-link-color: null !default;
$badge-secondary-link-hover-color: null !default;

$badge-success-bg: null !default;
$badge-success-hover-bg: null !default;
$badge-success-border-color: null !default;
$badge-success-hover-border-color: null !default;
$badge-success-color: null !default;
$badge-success-hover-color: null !default;
$badge-success-link-color: null !default;
$badge-success-link-hover-color: null !default;

$badge-info-bg: null !default;
$badge-info-hover-bg: null !default;
$badge-info-border-color: null !default;
$badge-info-hover-border-color: null !default;
$badge-info-color: null !default;
$badge-info-hover-color: null !default;
$badge-info-link-color: null !default;
$badge-info-link-hover-color: null !default;

$badge-warning-bg: null !default;
$badge-warning-hover-bg: null !default;
$badge-warning-border-color: null !default;
$badge-warning-hover-border-color: null !default;
$badge-warning-color: null !default;
$badge-warning-hover-color: null !default;
$badge-warning-link-color: null !default;
$badge-warning-link-hover-color: null !default;

$badge-danger-bg: null !default;
$badge-danger-hover-bg: null !default;
$badge-danger-border-color: null !default;
$badge-danger-hover-border-color: null !default;
$badge-danger-color: null !default;
$badge-danger-hover-color: null !default;
$badge-danger-link-color: null !default;
$badge-danger-link-hover-color: null !default;

$badge-light-bg: null !default;
$badge-light-hover-bg: null !default;
$badge-light-border-color: null !default;
$badge-light-hover-border-color: null !default;
$badge-light-color: null !default;
$badge-light-hover-color: null !default;
$badge-light-link-color: null !default;
$badge-light-link-hover-color: null !default;

$badge-dark-bg: null !default;
$badge-dark-hover-bg: null !default;
$badge-dark-border-color: null !default;
$badge-dark-hover-border-color: null !default;
$badge-dark-color: null !default;
$badge-dark-hover-color: null !default;
$badge-dark-link-color: null !default;
$badge-dark-link-hover-color: null !default;

$badge-insights-bg: null !default;
$badge-insights-hover-bg: null !default;
$badge-insights-border-color: null !default;
$badge-insights-hover-border-color: null !default;
$badge-insights-color: null !default;
$badge-insights-hover-color: null !default;
$badge-insights-link-color: null !default;
$badge-insights-link-hover-color: null !default;

$badge-fesr-bg: null !default;
$badge-fesr-hover-bg: null !default;
$badge-fesr-border-color: null !default;
$badge-fesr-hover-border-color: null !default;
$badge-fesr-color: null !default;
$badge-fesr-hover-color: null !default;
$badge-fesr-link-color: null !default;
$badge-fesr-link-hover-color: null !default;

$badge-fse-bg: null !default;
$badge-fse-hover-bg: null !default;
$badge-fse-border-color: null !default;
$badge-fse-hover-border-color: null !default;
$badge-fse-color: null !default;
$badge-fse-hover-color: null !default;
$badge-fse-link-color: null !default;
$badge-fse-link-hover-color: null !default;

$badge-asse-bg: null !default;
$badge-asse-hover-bg: null !default;
$badge-asse-border-color: null !default;
$badge-asse-hover-border-color: null !default;
$badge-asse-color: null !default;
$badge-asse-hover-color: null !default;
$badge-asse-link-color: null !default;
$badge-asse-link-hover-color: null !default;

$badge-azione-bg: null !default;
$badge-azione-hover-bg: null !default;
$badge-azione-border-color: null !default;
$badge-azione-hover-border-color: null !default;
$badge-azione-color: null !default;
$badge-azione-hover-color: null !default;
$badge-azione-link-color: null !default;
$badge-azione-link-hover-color: null !default;

$badge-evento-bg: null !default;
$badge-evento-hover-bg: null !default;
$badge-evento-border-color: null !default;
$badge-evento-hover-border-color: null !default;
$badge-evento-color: null !default;
$badge-evento-hover-color: null !default;
$badge-evento-link-color: null !default;
$badge-evento-link-hover-color: null !default;

$badge-opportunita-bg: null !default;
$badge-opportunita-hover-bg: null !default;
$badge-opportunita-border-color: null !default;
$badge-opportunita-hover-border-color: null !default;
$badge-opportunita-color: null !default;
$badge-opportunita-hover-color: null !default;
$badge-opportunita-link-color: null !default;
$badge-opportunita-link-hover-color: null !default;

$badge-aperto-bg: null !default;
$badge-aperto-hover-bg: null !default;
$badge-aperto-border-color: null !default;
$badge-aperto-hover-border-color: null !default;
$badge-aperto-color: null !default;
$badge-aperto-hover-color: null !default;
$badge-aperto-link-color: null !default;
$badge-aperto-link-hover-color: null !default;

$badge-graduatoria-bg: null !default;
$badge-graduatoria-hover-bg: null !default;
$badge-graduatoria-border-color: null !default;
$badge-graduatoria-hover-border-color: null !default;
$badge-graduatoria-color: null !default;
$badge-graduatoria-hover-color: null !default;
$badge-graduatoria-link-color: null !default;
$badge-graduatoria-link-hover-color: null !default;

$badge-proroga-bg: null !default;
$badge-proroga-hover-bg: null !default;
$badge-proroga-border-color: null !default;
$badge-proroga-hover-border-color: null !default;
$badge-proroga-color: null !default;
$badge-proroga-hover-color: null !default;
$badge-proroga-link-color: null !default;
$badge-proroga-link-hover-color: null !default;

$badge-riapertura-termini-bg: null !default;
$badge-riapertura-termini-hover-bg: null !default;
$badge-riapertura-termini-border-color: null !default;
$badge-riapertura-termini-hover-border-color: null !default;
$badge-riapertura-termini-color: null !default;
$badge-riapertura-termini-hover-color: null !default;
$badge-riapertura-termini-link-color: null !default;
$badge-riapertura-termini-link-hover-color: null !default;

$badge-approfondimento-bg: null !default;
$badge-approfondimento-hover-bg: null !default;
$badge-approfondimento-border-color: null !default;
$badge-approfondimento-hover-border-color: null !default;
$badge-approfondimento-color: null !default;
$badge-approfondimento-hover-color: null !default;
$badge-approfondimento-link-color: null !default;
$badge-approfondimento-link-hover-color: null !default;

$badge-rettifica-bg: null !default;
$badge-rettifica-hover-bg: null !default;
$badge-rettifica-border-color: null !default;
$badge-rettifica-hover-border-color: null !default;
$badge-rettifica-color: null !default;
$badge-rettifica-hover-color: null !default;
$badge-rettifica-link-color: null !default;
$badge-rettifica-link-hover-color: null !default;

$badge-a-scadenza-bg: null !default;
$badge-a-scadenza-hover-bg: null !default;
$badge-a-scadenza-border-color: null !default;
$badge-a-scadenza-hover-border-color: null !default;
$badge-a-scadenza-color: null !default;
$badge-a-scadenza-hover-color: null !default;
$badge-a-scadenza-link-color: null !default;
$badge-a-scadenza-link-hover-color: null !default;

$badge-a-sportello-bg: null !default;
$badge-a-sportello-hover-bg: null !default;
$badge-a-sportello-border-color: null !default;
$badge-a-sportello-hover-border-color: null !default;
$badge-a-sportello-color: null !default;
$badge-a-sportello-hover-color: null !default;
$badge-a-sportello-link-color: null !default;
$badge-a-sportello-link-hover-color: null !default;

$badge-chiuso-bg: null !default;
$badge-chiuso-hover-bg: null !default;
$badge-chiuso-border-color: null !default;
$badge-chiuso-hover-border-color: null !default;
$badge-chiuso-color: null !default;
$badge-chiuso-hover-color: null !default;
$badge-chiuso-link-color: null !default;
$badge-chiuso-link-hover-color: null !default;

$badge-palette: () !default;
$badge-palette: map-merge((
	default: (
		bg: $badge-default-bg,
		hover-bg: $badge-default-hover-bg,
		border-color: $badge-default-border-color,
		hover-border-color: $badge-default-hover-border-color,
		color: $badge-default-color,
		hover-color: $badge-default-hover-color,
		link-color: $badge-default-link-color,
		link-hover-color: $badge-default-link-hover-color
	),
	primary: (
		bg: $badge-primary-bg,
		hover-bg: $badge-primary-hover-bg,
		border-color: $badge-primary-border-color,
		hover-border-color: $badge-primary-hover-border-color,
		color: $badge-primary-color,
		hover-color: $badge-primary-hover-color,
		link-color: $badge-primary-link-color,
		link-hover-color: $badge-primary-link-hover-color
	),
	secondary: (
		bg: $badge-secondary-bg,
		hover-bg: $badge-secondary-hover-bg,
		border-color: $badge-secondary-border-color,
		hover-border-color: $badge-secondary-hover-border-color,
		color: $badge-secondary-color,
		hover-color: $badge-secondary-hover-color,
		link-color: $badge-secondary-link-color,
		link-hover-color: $badge-secondary-link-hover-color
	),
	success: (
		bg: $badge-success-bg,
		hover-bg: $badge-success-hover-bg,
		border-color: $badge-success-border-color,
		hover-border-color: $badge-success-hover-border-color,
		color: $badge-success-color,
		hover-color: $badge-success-hover-color,
		link-color: $badge-success-link-color,
		link-hover-color: $badge-success-link-hover-color
	),
	info: (
		bg: $badge-info-bg,
		hover-bg: $badge-info-hover-bg,
		border-color: $badge-info-border-color,
		hover-border-color: $badge-info-hover-border-color,
		color: $badge-info-color,
		hover-color: $badge-info-hover-color,
		link-color: $badge-info-link-color,
		link-hover-color: $badge-info-link-hover-color
	),
	warning: (
		bg: $badge-warning-bg,
		hover-bg: $badge-warning-hover-bg,
		border-color: $badge-warning-border-color,
		hover-border-color: $badge-warning-hover-border-color,
		color: $badge-warning-color,
		hover-color: $badge-warning-hover-color,
		link-color: $badge-warning-link-color,
		link-hover-color: $badge-warning-link-hover-color
	),
	danger: (
		bg: $badge-danger-bg,
		hover-bg: $badge-danger-hover-bg,
		border-color: $badge-danger-border-color,
		hover-border-color: $badge-danger-hover-border-color,
		color: $badge-danger-color,
		hover-color: $badge-danger-hover-color,
		link-color: $badge-danger-link-color,
		link-hover-color: $badge-danger-link-hover-color
	),
	light: (
		bg: $badge-light-bg,
		hover-bg: $badge-light-hover-bg,
		border-color: $badge-light-border-color,
		hover-border-color: $badge-light-hover-border-color,
		color: $badge-light-color,
		hover-color: $badge-light-hover-color,
		link-color: $badge-light-link-color,
		link-hover-color: $badge-light-link-hover-color
	),
	dark: (
		bg: $badge-dark-bg,
		hover-bg: $badge-dark-hover-bg,
		border-color: $badge-dark-border-color,
		hover-border-color: $badge-dark-hover-border-color,
		color: $badge-dark-color,
		hover-color: $badge-dark-hover-color,
		link-color: $badge-dark-link-color,
		link-hover-color: $badge-dark-link-hover-color
	),
	insights: (
		bg: $badge-insights-bg,
		hover-bg: $badge-insights-hover-bg,
		border-color: $badge-insights-border-color,
		hover-border-color: $badge-insights-hover-border-color,
		color: $badge-insights-color,
		hover-color: $badge-insights-hover-color,
		link-color: $badge-insights-link-color,
		link-hover-color: $badge-insights-link-hover-color
	),
	fesr: (
		bg: $badge-fesr-bg,
		hover-bg: $badge-fesr-hover-bg,
		border-color: $badge-fesr-border-color,
		hover-border-color: $badge-fesr-hover-border-color,
		color: $badge-fesr-color,
		hover-color: $badge-fesr-hover-color,
		link-color: $badge-fesr-link-color,
		link-hover-color: $badge-fesr-link-hover-color
	),
	fse: (
		bg: $badge-fse-bg,
		hover-bg: $badge-fse-hover-bg,
		border-color: $badge-fse-border-color,
		hover-border-color: $badge-fse-hover-border-color,
		color: $badge-fse-color,
		hover-color: $badge-fse-hover-color,
		link-color: $badge-fse-link-color,
		link-hover-color: $badge-fse-link-hover-color
	),
	asse: (
		bg: $badge-asse-bg,
		hover-bg: $badge-asse-hover-bg,
		border-color: $badge-asse-border-color,
		hover-border-color: $badge-asse-hover-border-color,
		color: $badge-asse-color,
		hover-color: $badge-asse-hover-color,
		link-color: $badge-asse-link-color,
		link-hover-color: $badge-asse-link-hover-color
	),
	azione: (
		bg: $badge-azione-bg,
		hover-bg: $badge-azione-hover-bg,
		border-color: $badge-azione-border-color,
		hover-border-color: $badge-azione-hover-border-color,
		color: $badge-azione-color,
		hover-color: $badge-azione-hover-color,
		link-color: $badge-azione-link-color,
		link-hover-color: $badge-azione-link-hover-color
	),
	evento: (
		bg: $badge-evento-bg,
		hover-bg: $badge-evento-hover-bg,
		border-color: $badge-evento-border-color,
		hover-border-color: $badge-evento-hover-border-color,
		color: $badge-evento-color,
		hover-color: $badge-evento-hover-color,
		link-color: $badge-evento-link-color,
		link-hover-color: $badge-evento-link-hover-color
	),
	opportunita: (
		bg: $badge-opportunita-bg,
		hover-bg: $badge-opportunita-hover-bg,
		border-color: $badge-opportunita-border-color,
		hover-border-color: $badge-opportunita-hover-border-color,
		color: $badge-opportunita-color,
		hover-color: $badge-opportunita-hover-color,
		link-color: $badge-opportunita-link-color,
		link-hover-color: $badge-opportunita-link-hover-color
	),
	aperto: (
		bg: $badge-aperto-bg,
		hover-bg: $badge-aperto-hover-bg,
		border-color: $badge-aperto-border-color,
		hover-border-color: $badge-aperto-hover-border-color,
		color: $badge-aperto-color,
		hover-color: $badge-aperto-hover-color,
		link-color: $badge-aperto-link-color,
		link-hover-color: $badge-aperto-link-hover-color
	),
	graduatoria: (
		bg: $badge-graduatoria-bg,
		hover-bg: $badge-graduatoria-hover-bg,
		border-color: $badge-graduatoria-border-color,
		hover-border-color: $badge-graduatoria-hover-border-color,
		color: $badge-graduatoria-color,
		hover-color: $badge-graduatoria-hover-color,
		link-color: $badge-graduatoria-link-color,
		link-hover-color: $badge-graduatoria-link-hover-color
	),
	proroga: (
		bg: $badge-proroga-bg,
		hover-bg: $badge-proroga-hover-bg,
		border-color: $badge-proroga-border-color,
		hover-border-color: $badge-proroga-hover-border-color,
		color: $badge-proroga-color,
		hover-color: $badge-proroga-hover-color,
		link-color: $badge-proroga-link-color,
		link-hover-color: $badge-proroga-link-hover-color
	),
	riapertura-termini: (
		bg: $badge-riapertura-termini-bg,
		hover-bg: $badge-riapertura-termini-hover-bg,
		border-color: $badge-riapertura-termini-border-color,
		hover-border-color: $badge-riapertura-termini-hover-border-color,
		color: $badge-riapertura-termini-color,
		hover-color: $badge-riapertura-termini-hover-color,
		link-color: $badge-riapertura-termini-link-color,
		link-hover-color: $badge-riapertura-termini-link-hover-color
	),
	approfondimento: (
		bg: $badge-approfondimento-bg,
		hover-bg: $badge-approfondimento-hover-bg,
		border-color: $badge-approfondimento-border-color,
		hover-border-color: $badge-approfondimento-hover-border-color,
		color: $badge-approfondimento-color,
		hover-color: $badge-approfondimento-hover-color,
		link-color: $badge-approfondimento-link-color,
		link-hover-color: $badge-approfondimento-link-hover-color
	),
	rettifica: (
		bg: $badge-rettifica-bg,
		hover-bg: $badge-rettifica-hover-bg,
		border-color: $badge-rettifica-border-color,
		hover-border-color: $badge-rettifica-hover-border-color,
		color: $badge-rettifica-color,
		hover-color: $badge-rettifica-hover-color,
		link-color: $badge-rettifica-link-color,
		link-hover-color: $badge-rettifica-link-hover-color
	),
	a-scadenza: (
		bg: $badge-a-scadenza-bg,
		hover-bg: $badge-a-scadenza-hover-bg,
		border-color: $badge-a-scadenza-border-color,
		hover-border-color: $badge-a-scadenza-hover-border-color,
		color: $badge-a-scadenza-color,
		hover-color: $badge-a-scadenza-hover-color,
		link-color: $badge-a-scadenza-link-color,
		link-hover-color: $badge-a-scadenza-link-hover-color
	),
	a-sportello: (
		bg: $badge-a-sportello-bg,
		hover-bg: $badge-a-sportello-hover-bg,
		border-color: $badge-a-sportello-border-color,
		hover-border-color: $badge-a-sportello-hover-border-color,
		color: $badge-a-sportello-color,
		hover-color: $badge-a-sportello-hover-color,
		link-color: $badge-a-sportello-link-color,
		link-hover-color: $badge-a-sportello-link-hover-color
	),
	chiuso: (
		bg: $badge-chiuso-bg,
		hover-bg: $badge-chiuso-hover-bg,
		border-color: $badge-chiuso-border-color,
		hover-border-color: $badge-chiuso-hover-border-color,
		color: $badge-chiuso-color,
		hover-color: $badge-chiuso-hover-color,
		link-color: $badge-chiuso-link-color,
		link-hover-color: $badge-chiuso-link-hover-color
	)
), $badge-palette);