$white: #FFFFFF;
$black: #000000;
$grey: #707070;

$default: #0572B5;
$primary: #0c2149;
$success: #93c11e;
$info: #11306d;
$warning: #f9b900;
$danger: #e20512;
$bg-grey: #f9f9f9;

$stato-di-attuazione-text: lighten(saturate(adjust-hue($info, -5), 11.70), 6.08);
$stato-di-attuazione-bg: darken($white, 3.92);

$link-color: $default !default;
$link-hover-color: darken($link-color, 8%) !default;

$link-sm-color: #0c4491 !default;
$link-sm-hover-color: darken($link-sm-color, 8%) !default;

/* Badge color 'Approfondimenti' */
$insights: #9bcee5;

/* Badge color 'Categorizzazione' */
$fesr: #0c4491;
$fse: $fesr;
$asse: $fesr;
$azione: $fesr;

/* Badge color 'Modalità bando' */
$a-scadenza: #f18505;
$a-sportello: $a-scadenza;

/* Badge color 'Attuazione bando' */
$aperto: #93c11e;
$chiuso: #e20512;

/* Badge color 'Tipologia notizia' */
$evento: #11306d;
$opportunita: #0c2149;
$graduatoria: #2fa240;
$proroga: #00954f;
$riapertura-termini: #007c4f;
$approfondimento: #006252;
$rettifica: #f5a003;

$default-line-height: 1.5;