@import "clay_variables";
$body-bg: $white;
$bright-color: #1865FB;
$complementary-color: #30313F;
$dark-color: #272833;
$light-color: #E7E7ED;

$portlet-decorate-bg: #FFF;
$portlet-decorate-border: 1px solid $light-color;

