@import "components/bando";
@import "components/breadcrumb";
@import "components/cards";
@import "components/cards-group";
@import "components/form-module";
@import "components/galleria-bandi";
@import "components/galleria-notizie";
@import "components/hero-image";
@import "components/home-category";
@import "components/image-hero";
@import "components/lista-azioni";
@import "components/navbars";
@import "components/priorita-carousel";
@import "components/ricerca-bandi";
@import "components/stato-di-attuazione";

@import "partials/buttons";
@import "partials/footer";
@import "partials/inputs";
@import "partials/main-navigation-mobile";

@import "portlet/portlet_search_bar";

@import "styles/links";
@import "styles/inputs";

@import "fonts";



body {
	background-color: $white;

	#wrapper {
		font-family: 'Titillium Web Regular', sans-serif;

		.web-content-title {
			color: $info;
		}

		.portlet-layout #column-1.col-md-12 {
			padding-left: 0;
			padding-right: 0;
		}

		@media (min-width: 1280px) {
			.container {
				max-width: 960px;
			}
		}

		@media (min-width: 1664px) {
			.container {
				max-width: 1248px;
			}
		}
	}
}

/* Use these inject tags to dynamically create imports for
themelet styles. You can place them where ever you like in this file. */

/* inject:imports */
/* endinject */

/* This file allows you to override default styles in one central
location for easier upgrade and maintenance. */