@font-face {
	font-family: "Titillium Web Light";
	src: url("../fonts/TitilliumWeb-Light.ttf");
	font-weight: 300;
}

@font-face {
	font-family: "Titillium Web Regular";
	src: url("../fonts/TitilliumWeb-Regular.ttf");
	font-weight: 400;
}

@font-face {
	font-family: "Titillium Web SemiBold";
	src: url("../fonts/TitilliumWeb-SemiBold.ttf");
	font-weight: 600;
}

@font-face {
	font-family: "Titillium Web Bold";
	src: url("../fonts/TitilliumWeb-Bold.ttf");
	font-weight: 700;
}
