.form-control {
	border: 1px solid $grey;
	background: $white;
	color: #2d2d2d;

	&:focus {
		background: $white;
		border: 1px solid $grey;
	}
}

.has-error {
	.form-control {
		background: $white;
		color: $danger;
		border: 1px solid $danger;

		&::placeholder {
			color: $danger;
		}
	}

	.custom-control-label {
		color: $danger;
	}
}

select.form-control:not([multiple]):not([size]),
select.form-control:not([multiple]):not([size]):focus {
	// TODO: find a better way to store the encoded URL
	background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2712%27%20height%3D%2712%27%20viewBox%3D%270%200%20512%20512%27%3E%3Cpath%20class%3D%22lexicon-icon-outline%22%20d%3D%22M256%20384c6.936-0.22%2013.81-2.973%2019.111-8.272l227.221-227.221c11.058-11.026%2011.058-28.941%200-39.999-11.026-11.058-28.94-11.058-39.999%200l-206.333%20206.333c0%200-206.333-206.333-206.333-206.333-11.059-11.058-28.973-11.058-39.999%200-11.059%2011.058-11.059%2028.972%200%2039.999l227.221%20227.221c5.3%205.3%2012.174%208.053%2019.111%208.272z%22%20fill%3D%27%230c2149%27%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
	background-position: right 15px top 15px;
	background-repeat: no-repeat;
	background-size: auto;
	padding-right: 47px;
	border: 1px solid $primary;

	&:focus {
		border: 1px solid $primary;
	}
}
