//
// Links
//

a {
	color: $link-color;
	text-decoration: $link-decoration;
	background-color: transparent; // Remove the gray background on active links in IE 10.
	-webkit-text-decoration-skip: objects; // Remove gaps in links underline in iOS 8+ and Safari 8+.

	@include hover {
		color: $link-hover-color;
		text-decoration: $link-hover-decoration;
	}

	&.link-sm {
		font-size: 0.875rem;
		color: $link-sm-color;

		@include hover {
			color: $link-sm-hover-color;
		}
	}
}