.portlet-search-bar {
	.form-control {
		background-color: $white;
		border: .09rem solid $info;

		&::placeholder {
			opacity: 1;
		}
	}

	.search-bar-keywords-input-wrapper {
		margin-left: 0;

		.input-group-inset-item {
			color: $info;
			background-color: $white;
			border: .09rem solid $info;
			border-left: none;

			.search-bar-search-button.btn-unstyled {
				border-radius: 0;

				.lexicon-icon.lexicon-icon-search {
					color: $info;
				}
			}
		}
	}
}

