@import url("timeline.min.css");

.w100 {
    width: 100% !important;
}

.processilist > div.alert-info {
    width: 100%;
    text-align: center;
}


.alloy-editor-container {
    border: 2px solid #4562b8;
}

.navigation-bar-detail {
    background-color: #565870 !important;
}

.navigation-bar-detail a {
    color: white !important;

}

.truncate-text-cell {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
    border: none;
}