<#assign journalArticleLocalService = serviceLocator.findService("com.liferay.journal.service.JournalArticleLocalService")>
<#assign vocabularyService = serviceLocator.findService("com.liferay.asset.kernel.service.AssetVocabularyLocalService")>
<#assign categoryService = serviceLocator.findService("com.liferay.asset.kernel.service.AssetCategoryLocalService")>

<#assign dateNodeSelector = "//dynamic-element[@name='from']" />

<#assign imagesPath = themeDisplay.getPathThemeImages() />

<#if entries?has_content>
	<div class="d-block d-sm-block d-md-none row cards-group-carousel por-carousel">
		<div class="container px-4 modello-3 galleria-bandi">
			<div class="row">
				<div class="col">
					<h2 class="adt-title">${themeDisplay.getPortletDisplay().getTitle()}</h2>
				</div>
			</div>
			<div class="slider" data-slick='{"autoplay": false, "arrows": false, "autoplaySpeed": 3000, "slidesToShow": 1, "slidesToScroll": 1, "dots": false, "infinite": true, "speed": 300, "pauseOnHover": true, "pauseOnFocus": true, "centerMode": true, "centerPadding": "30px"}' >
				<#list entries as entry>
					<#if (entry.className = "com.liferay.journal.model.JournalArticle")>
						<#assign
							entry = entry
							assetRenderer = entry.getAssetRenderer()
							entryTitle = htmlUtil.escape(assetRenderer.getTitle(locale))
							viewURL = assetPublisherHelper.getAssetViewURL(renderRequest, renderResponse, assetRenderer, entry, !stringUtil.equals(assetLinkBehavior, "showFullContent"))
							journalArticle = assetRenderer.getAssetObject()
							document = saxReaderUtil.read(journalArticle.getContent())
							rootElement = document.getRootElement()
						>

						<#assign dateNodeValue = (rootElement.selectSingleNode(dateNodeSelector).getStringValue())! "">
						<#assign categories = categoryService.getCategories("com.liferay.journal.model.JournalArticle", journalArticle.getResourcePrimKey()) >

						<#assign labelTema = "">
						<#assign labelModalita = "">
						<#list categories as category>
							<#assign categoryName = category.getTitle(locale)>
							<#assign categoryVocabulary =  vocabularyService.getVocabulary(category['vocabularyId']?number)['name']>

							<#if categoryVocabulary == "Tema">
								<#assign labelTema = categoryName >
							</#if>
							<#if categoryVocabulary == "Modalità bando">
								<#assign labelModalita = categoryName >
							</#if>
						</#list>

						<#assign date = "" />
						<#if (dateNodeValue)?has_content>
							<#assign date = dateNodeValue?string />
							<#assign date = date?remove_beginning("\n\t\t\t") />
							<#assign date = date?remove_ending("\n\t\t") />
						</#if>

						<#attempt>
							<#assign date_DateObj = dateUtil.parseDate("yyyy-MM-dd", date, locale) />
							<#assign date = dateUtil.getDate(date_DateObj, "dd/MM/yyyy", locale) />
							<#recover>
								<#assign date = "" />
						</#attempt>
						<div class="card-type-asset form-check form-check-card form-check-top-left image-card">
							<div class="card">
								<div class="aspect-ratio card-item-first">
									<div class="custom-control custom-checkbox">
										<#if assetRenderer.getThumbnailPath(renderRequest)??>
											<#assign thumbnail = (assetRenderer.getThumbnailPath(renderRequest))!"https://dummyimage.com/600x400/000/fff">
											<a href="${viewURL}">
												<label style="background-image: url('${thumbnail}');"></label>
											</a>
										</#if>
									</div>
								</div>
								<span class="card-badge bottom-right badge badge-por badge-secondary m-0">
									<span class="badge-item badge-item-expand">${labelTema}</span>
								</span>
								<div class="card-body">
									<div class="card-row">
										<div class="autofit-col autofit-col-expand justify-content-start">
											<div class="row metadata pb-3">
												<div class="col-auto card-title d-flex align-items-center">
													<span>${entry.getPublishDate()?string["dd/MM/yyyy"]}</span>
												</div>
											</div>
											<div class="my-auto card-detail titolo">
												<h3 class="mb-0"><a class="" href="${viewURL}" title="${entryTitle}">${entryTitle}</a></h3>
											</div>
											<div class="row maggiori-dettagli">
												<div class="col">
													<a class="pull-right read-more" href="${viewURL}">
														<@liferay.language key="por.keep-reading" />
														<span class="hide-accessible"><@liferay.language key="about" />${entryTitle}</span>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</#if>
				</#list>
			</div>
		</div>
	</div>
</#if>